In [1]:
type(None)

NoneType

# Basic data types

Basic data types include int, float, str, bool, NoneType

In [2]:
a = 3

In [3]:
a = 10 ** 5000

In [4]:
2 ** 64

18446744073709551616

In [5]:
a = 42

In [6]:
a + 3

45

In [7]:
a - 42

0

In [8]:
a = 5
b = 3

In [9]:
a / b

1.6666666666666667

In [10]:
a // b

1

In [11]:
a % b

2

In [12]:
4 ** 3

64

A more convenient way of computing the square root is through exponentiation w/ exponent 0.5

(instead of importing `math` and using `math.sqrt`)

In [13]:
import math

In [14]:
math.sqrt(81)

9.0

In [15]:
81 ** 0.5

9.0

In [16]:
a = 6.28
b = 3.14

In [19]:
type(a / b)

float

In [21]:
a / 2, type(a/2)

(3.14, float)

In [22]:
2 / a

0.3184713375796178

In [23]:
5 / 3

1.6666666666666667

In [24]:
type(5 / 3)

float

In [26]:
type(5 // 3)

int

In [29]:
type(True)

bool

Truth table for the AND, OR, NOT operators

In [31]:
for a in [True, False]:
    for b in [True, False]:
        print(a, "AND", b, "=>", a and b)

True AND True => True
True AND False => False
False AND True => False
False AND False => False

In [32]:
for a in [True, False]:
    for b in [True, False]:
        print(a, "OR", b, "=>", a or b)

True OR True => True
True OR False => True
False OR True => True
False OR False => False

In [33]:
for a in [True, False]:
    print(f"NOT({a}) = {not a}")

NOT(True) = False
NOT(False) = True

In [38]:
variabile = 5 > 3

In [39]:
if variabile:
    print("Cinque e' maggiore di tre")

Cinque e' maggiore di tre

# String manipulation

In [40]:
s = "hello, world"

In [41]:
print(s)

hello, world

Access to a single element of a string through the [ ] operator

In [42]:
s[0]

'h'

In [43]:
s[1]

'e'

In [44]:
s

'hello, world'

Substrings can be extracted using `[start:stop]` indices (`start` is included, `stop` is excluded)

In [48]:
s[0:5]

'hello'

In [49]:
len(s)

12

In [50]:
l = ["hello", "world"]

In [51]:
l[0:1]

['hello']

In [52]:
s

'hello, world'

In [56]:
s[:5]

'hello'

In [60]:
s[7:]

'world'

In [61]:
s[:]

'hello, world'

In [62]:
l = [1,2,3,4,5]

In [64]:
l[2] = 55

In [65]:
l

[1, 2, 55, 4, 5]

We **cannot** overwrite strings -- they are immutable!

We need to create a copy every time we want to change one

In [67]:
s[0] = "H"

TypeError: 'str' object does not support item assignment

In [72]:
s[1:]

'ello, world'

In [73]:
s2 = "H" + s[1:]

In [74]:
print(s2)

Hello, world

In [77]:
s[:]

'hello, world'

Negative indices: counting from right to left (i.e. end of string -> start of string).

```
 H  E  L  L  O | string
 0  1  2  3  4 | positive indices
-5 -4 -3 -2 -1 | negative indices
```

In [78]:
s[-5:]

'world'

In [79]:
s[len(s)-1:]

'd'

In [80]:
s[len(s)-1:len(s)]

'd'

In [81]:
s[11:12]

'd'

In [82]:
s[11:]

'd'

In [84]:
s[-1]

'd'

In [85]:
s

'hello, world'

In [86]:
s[:-7]

'hello'

In [87]:
s[:-7]

'hello'

In [90]:
s[0:len(s):1]

'hello, world'

In [91]:
s[0:len(s):2]

'hlo ol'

In [92]:
s[::2]

'hlo ol'

In [93]:
s[::-1]

'dlrow ,olleh'

In [94]:
s[::-2]

'drw,le'

In [96]:
s[len(s):0:-1]

'dlrow ,olle'

In [99]:
"hello".upper()

'hello'

In [98]:
"HELLO".lower()

'hello'

In [101]:
def concat(a, b):
    return a + " " + b

In [102]:
concat("stringa1", "string2")

'stringa1 string2'

Format strings -- a convenient way of embedding variables into strings.

In [105]:
# how you would do things without format strings (v1)
a = 42
print("messaggio con alcune variabili dentro " + str(a))

messaggio con alcune variabili dentro 42

In [106]:
# how you would do things without format strings (v2)
print("messaggio con var dentro", a)

messaggio con var dentro 42

In [107]:
# how you would do things without format strings (v3)
print("stampo prima il messaggio, poi la variabile")
print(a)

stampo prima il messaggio, poi la variabile
42

In [108]:
# how you would do things without format strings (v4)
print("stampo una variabile con format {0}".format(a))

stampo una variabile con format 42

Format strings are defined using the syntax: `f"string in here"`.

Within strings, we can embed variables if included in curly braces -- e.g. `f"Variable {a}"`

In [110]:
print(f"scrivere direttamente una stringa con dentro le variabili, per esempio {a * 2}")

scrivere direttamente una stringa con dentro le variabili, per esempio 84

In [11]:
a = 4
b = 5
c = 6
d = 7
e = 8

# a very inconvenient way of printing 5 variables
print("a=" + str(a) + " b=" + str(b) + " c=" + str(c) + " d=" + str(d) + " e=" + str(e))

a=4 b=5 c=6 d=7 e=8

In [12]:
# a very convenient way using f-strings (the syntax {v=} will also print the variable name)
print(f"{a=} {b=} {c=} {d=} {e=}")

a=4 b=5 c=6 d=7 e=8

In [113]:
# if we specify all variables within a single { }, they will still be printed, but
# this will generate a tuple (see later)
print(f"{a,b,c,d,e}")

(4, 5, 6, 7, 8)

## Tuples!

In [115]:
t = ("valore1", 2, None, True, False, False, 3.14)

In [117]:
len(t)

7

The same indexing we used for strings applies here!

In [119]:
t[0:4]

('valore1', 2, None, True)

In [120]:
t[::2]

('valore1', None, False, 3.14)

In [121]:
t

('valore1', 2, None, True, False, False, 3.14)

In [122]:
t[::-1]

(3.14, False, False, True, None, 2, 'valore1')

Much like strings, tuples are also immutable

In [123]:
t[2] = "X"

TypeError: 'tuple' object does not support item assignment

In [136]:
print(f"{a=} {b=} {c=} {d=}")

a=4 b=5 c=6 d=7

Tuple creation ("packing")

In [139]:
t2 = a, b, c, d

In [144]:
s_val = f"{t2=}"

In [146]:
len(s_val)

15

In [145]:
print(s_val)

t2=(4, 5, 6, 7)

In [127]:
t2

(4, 5, 6, 7)

Tuple unpacking: we can assign multiple variables at the same time, by taking values from a tuple

In [141]:
x, y, z, w = t2

Of course, we need to unpack the tuple into the right number of variables. If not, we get errors

In [142]:
x, y, z = t2 # we expected 3 variables, tuple has 4 values

ValueError: too many values to unpack (expected 3)

In [143]:
x, y, z, w, k = t2  # we expected 5 variables, tuple has 4 values

ValueError: not enough values to unpack (expected 5, got 4)

In [131]:
print(f"{x=}, {y=}, {z=}, {w=}")

x=4, y=5, z=6, w=7

In [147]:
def somma_e_prodotto(x, y):
    return (x + y, y * x)

In [149]:
def somma_e_prodotto(x, y):
    # when we return multiple values in a function, we are really 
    # just returning a tuple with many values inside of it
    return x + y, y * x

In [151]:
t3 = somma_e_prodotto(5, 3) # we can unpack the results easily

In [152]:
s, p = t3

In [153]:
s, p = somma_e_prodotto(5, 3)

In [154]:
print(f"{s=}, {p=}")

s=8, p=15

In [155]:
a = 4
b = 5

Swapping values -- we need a temporary support variable!

In [156]:
tmp = a
a = b
b = tmp

In [157]:
a, b

(5, 4)

Apparently with tuple unpacking we no longer need it...

print(f"{a=}, {b=}")
a, b = b, a
print(f"{a=}, {b=}")

But we are really just creating a tuple as a support variable.

In [159]:
tupla_tmp = (b, a)
# a, b = tupla_tmp
a = tupla_tmp[0]
b = tupla_tmp[1]

In [162]:
l = [ "valore1", "val2", 3, 4, True, False, (3,2,1) ]

In [163]:
l

['valore1', 'val2', 3, 4, True, False, (3, 2, 1)]

In [164]:
ll = [ # list of lists -- why not?
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]

In [165]:
ll

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [166]:
l

['valore1', 'val2', 3, 4, True, False, (3, 2, 1)]

In [167]:
l[0] = "VALORE1"

In [168]:
l

['VALORE1', 'val2', 3, 4, True, False, (3, 2, 1)]

We can change lists: change values, add them, remove them!
* .append(value)
* .insert(position, value)
* .pop(position)
* .remove(value)

In [169]:
l.append(3)

In [170]:
l = []

In [171]:
print(l)

[]

In [172]:
l.append(1)
print(l)
l.append(2)
print(l)
l.append(3)
print(l)

[1]
[1, 2]
[1, 2, 3]

In [173]:
l.insert(1, 1.5)

In [174]:
l

[1, 1.5, 2, 3]

In [175]:
l.pop()

3

In [177]:
print(f"{l=}")

l=[1, 1.5, 2]

In [178]:
l.pop()

2

In [179]:
print(f"{l=}")

l=[1, 1.5]

In [180]:
l.remove(1.5) # togliere in base al valore

In [181]:
l

[1]

In [185]:
voti = [ 30, 27, 27, 22, 18, "INS", 28, 18, 18 ]

In [187]:
len(voti)

9

We can check what's inside of a list.
* .count(value) returns the number of times a value is contained in a list
* .index(value) returns the index of the first instance of value inside of a list (error if not found)
* value in l boolean (whether value is containd in list `l`

In [188]:
voti.count(30)

1

In [189]:
voti.count(18)

3

In [191]:
voti.index(18)

4

In [192]:
voti[::-1].index(18)

0

In [193]:
l

[1, 2, 3, 4, 5]

In [195]:
del l[2:4]

In [196]:
l

[1, 2, 5]

In [197]:
l = [1, 2, 3, 4, 5]

In [198]:
l[2:4] = ['a','b','c']

In [199]:
l

[1, 2, 'a', 'b', 'c', 5]

In [200]:
l

[1, 2, 'a', 'b', 'c', 5]

In [201]:
"a" in l

True

In [202]:
"c" in l

True

In [203]:
"d" in l

False

In [205]:
19 in voti

False

In [206]:
30 in voti

True

In [208]:
if 30 in voti:
    print("qualcuno ha preso 30")
if 19 in voti:
    print("qualcuno ha preso 19")

qualcuno ha preso 30

In [211]:
for i in l:
    print(i)

1
2
a
b
c
5

In [212]:
for i in range(len(l)):
    print(l[i])

1
2
a
b
c
5

In [14]:
l = [ 8, 4, 3, 1, -5, 14, 7, 3, 92 ]

In [15]:
max(l)

92

In [16]:
min(l)

-5

In [17]:
sum(l)

127

In [30]:
sorted(l)

[-5, 1, 3, 3, 4, 7, 8, 14, 92]

In [31]:
sorted(l, reverse=True)

[92, 14, 8, 7, 4, 3, 3, 1, -5]

In [32]:
sorted(l)[::-1]

[92, 14, 8, 7, 4, 3, 3, 1, -5]

In [33]:
l

[8, 4, 3, 1, -5, 14, 7, 3, 92]

## Sets

In [34]:
set1 = { 1, 2, 3 }

In [35]:
print(set1)

{1, 2, 3}

In [36]:
set2 = { 1, 2, 3, 3, 2, 1 }

In [37]:
print(set2)

{1, 2, 3}

In [38]:
{ 1, 2, 3 } == { 3, 2, 1 }

True

In [39]:
set_vuoto = set()

In [40]:
print(set_vuoto)

set()

In [41]:
# aggiungere
set_vuoto.add("el1")

In [42]:
print(set_vuoto)

{'el1'}

In [43]:
set_vuoto.add("el2")

In [44]:
print(set_vuoto)

{'el2', 'el1'}

In [46]:
set1[0]

TypeError: 'set' object is not subscriptable

In [47]:
A = { "a", "b", "c" }
B = { "b", "c", "d", "e" }

In [48]:
print(A)
print(B)

{'c', 'b', 'a'}
{'c', 'b', 'e', 'd'}

In [49]:
A | B

{'a', 'b', 'c', 'd', 'e'}

In [50]:
A & B

{'b', 'c'}

In [52]:
A - B

{'a'}

In [53]:
B - A

{'d', 'e'}

In [62]:
A = {'a','b','c'}
B = {'a','b','c','d'}
C = {'c','d','e'}
D = {'a','b','c','d'}

In [57]:
A < B

True

In [58]:
C < B

False

In [59]:
A <= B

True

In [63]:
D < B

False

In [64]:
D <= B

True

In [65]:
B > A

True

In [66]:
B >= A

True

In [67]:
B >= D

True

In [68]:
B > D

False

In [69]:
A

{'a', 'b', 'c'}

In [70]:
A.remove("b")

In [71]:
A

{'a', 'c'}

In [73]:
3 in l

True

In [74]:
42 in l

False

In [75]:
'a' in A

True

In [76]:
'x' in A

False

In [77]:
for elemento in l:
    print(elemento)

8
4
3
1
-5
14
7
3
92

In [78]:
for el in D:
    print(el)

c
b
d
a

In [79]:
for el in {1,2,3}:
    print(el)

1
2
3

In [80]:
for el in {3,2,1}:
    print(el)

1
2
3

In [81]:
l = [ 3, 2, 4, 5, 8, 8, 4, 3, 3, 2, 1 ]

In [82]:
l

[3, 2, 4, 5, 8, 8, 4, 3, 3, 2, 1]

In [85]:
set_vuoto = set()
for el in l:
    set_vuoto = set_vuoto | {el}
print(set_vuoto)

{1, 2, 3, 4, 5, 8}

In [ ]:
# int(), float(), str(), tuple(), list(), set()

In [87]:
int(4.2)

4

In [88]:
float(4)

4.0

In [89]:
int("123")

123

In [90]:
int("asd")

ValueError: invalid literal for int() with base 10: 'asd'

In [91]:
str(101)

'101'

In [95]:
x = (1,2,3,3)

In [96]:
list(x)

[1, 2, 3, 3]

In [97]:
set(x)

{1, 2, 3}

In [98]:
list({1,2,3})

[1, 2, 3]

In [99]:
l = [ 3, 2, 4, 5, 8, 8, 4, 3, 3, 2, 1 ]

In [100]:
l

[3, 2, 4, 5, 8, 8, 4, 3, 3, 2, 1]

In [102]:
list(set(l))

[1, 2, 3, 4, 5, 8]

In [103]:
lista_di_citta = ["Torino", "Vercelli", "Novara", "Alessandria"]
lista_di_sigle = ["TO", "VC", "NO", "AL"]

citta = "Novara"

for i in range(len(lista_di_citta)):
    if lista_di_citta[i] == citta:
        print("La sigla e'", lista_di_sigle[i])

La sigla e' NO

In [104]:
dizionario = {
    "Torino": "TO",
    "Vercelli": "VC",
    "Novara": "NO",
    "Alessandria": "AL"
}

print("il valore per la chiave Vercelli e' ", dizionario["Vercelli"])

il valore per la chiave Vercelli e'  VC

In [106]:
dizionario["Asti"]

KeyError: 'Asti'

In [107]:
dizionario.get("Vercelli", "UNKNOWN")

'VC'

In [108]:
dizionario.get("Asti", "UNKNOWN")

'UNKNOWN'

In [110]:
dizionario.keys()

dict_keys(['Torino', 'Vercelli', 'Novara', 'Alessandria'])

In [111]:
dizionario.values()

dict_values(['TO', 'VC', 'NO', 'AL'])

In [112]:
dizionario.items()

dict_items([('Torino', 'TO'), ('Vercelli', 'VC'), ('Novara', 'NO'), ('Alessandria', 'AL')])

In [114]:
for chiave in dizionario.keys():
    print(chiave, "=>", dizionario[chiave])

Torino => TO
Vercelli => VC
Novara => NO
Alessandria => AL

In [116]:
for chiave, valore in dizionario.items():
    print(chiave, '=>', valore)

Torino => TO
Vercelli => VC
Novara => NO
Alessandria => AL

In [117]:
dizionario["Asti"] = "AT"

In [118]:
print(dizionario)

{'Torino': 'TO', 'Vercelli': 'VC', 'Novara': 'NO', 'Alessandria': 'AL', 'Asti': 'AT'}

In [120]:
dizionario["Milano"] = "ML"

In [121]:
dizionario

{'Torino': 'TO',
 'Vercelli': 'VC',
 'Novara': 'NO',
 'Alessandria': 'AL',
 'Asti': 'AT',
 'Milano': 'ML'}

In [122]:
del dizionario["Milano"]

In [123]:
dizionario

{'Torino': 'TO',
 'Vercelli': 'VC',
 'Novara': 'NO',
 'Alessandria': 'AL',
 'Asti': 'AT'}

In [124]:
"Torino" in dizionario

True

In [125]:
"TO" in dizionario

False

In [126]:
for el in dizionario:
    print(el)

Torino
Vercelli
Novara
Alessandria
Asti

In [128]:
for el in dizionario.keys():
    print(el, "=>", dizionario[el])

Torino => TO
Vercelli => VC
Novara => NO
Alessandria => AL
Asti => AT

In [129]:
import numpy as np

In [151]:
l1 = np.random.choice(25_000_000, size=25_000_000, replace=False).tolist()

In [152]:
len(l1)

25000000

In [153]:
s1 = set(l1)

In [154]:
len(s1)

25000000

In [155]:

import time

In [160]:
a = time.time()
-1 in s1
b = time.time()
print(b-a)

6.198883056640625e-05

In [150]:
a = time.time()
-1 in l1
b = time.time()
print(b-a)

0.5311398506164551

In [161]:
a = time.time()
-1 in l1
b = time.time()
print(b-a)

0.26983094215393066

In [167]:
a = 4
if a == 3:
    print("a e' uguale a 3")
else:
    if a == 4:
        print("a e' uguale a 4")
    else:
        if a == 5:
            print("a e' uguale a 5")
        else:
            print("a non e' uguale a 3 ne' a 4")

a e' uguale a 4

In [168]:
if a == 3:
    print("a e' uguale a 3")
elif a == 4:
    print("a e' uguale a 4")
elif a == 5:
    print("a e' uguale a 5")
else:
    print("a non e' uguale a 3 ne' a 4")

a e' uguale a 4

In [172]:
a = 3
b = 5

if a == 3:
    print("a e' uguale a 3")
elif b == 5:
    print("a non e' uguale a 3, ma b e' uguale a 5")

a e' uguale a 3

In [176]:
voto = 5

if voto < 18:
    voto_finale = "INS"
else:
    voto_finale = voto

print("Voto ottenuto", voto_finale)

Voto ottenuto INS

In [179]:
voto = 24

voto_finale = "INS" if voto < 18 else voto

print("Voto ottenuto", voto_finale)

Voto ottenuto 24

In [181]:
if voto < 18:
    voto_finale = "INS"
elif voto <= 30:
    voto_finale = voto
else:
    voto = "30L"

In [182]:
voto_finale = "INS" if voto < 18 else voto if voto <= 30 else "30L"

In [ ]:
voto_finale = voto < 18 ? "INS" : voto <= 30 ? voto : "30L"

In [184]:
range(10, 100)

range(10, 100)

# Cicli

In [1]:
counter = 10

while counter >= 0:
    print(counter)
    counter -= 1

10
9
8
7
6
5
4
3
2
1
0

In [8]:
# 5, 13

i = 2
# while not ((i % 5 == 0) and (i % 13 == 0)):
while not (i % 5 == 0) or not(i % 13 == 0):
    i += 1
print(i)

65

In [10]:
for i in range(10, 26, 3):
    print(i)

10
13
16
19
22
25

In [11]:
l = [ "a", "b", "c", "d" ]
for i in l:
    print("l'elemento e' ", i)

l'elemento e'  a
l'elemento e'  b
l'elemento e'  c
l'elemento e'  d

In [17]:
l = [ "a", "b", "c", "d" ]
for i in range(0, len(l)):
    print("l'elemento nella posizione ", i, " e' ", l[i])

l'elemento nella posizione  0  e'  a
l'elemento nella posizione  1  e'  b
l'elemento nella posizione  2  e'  c
l'elemento nella posizione  3  e'  d

In [18]:
for pos, el in enumerate(l):
    print("l'elemento nella posizione ", pos, " e' ", el)

l'elemento nella posizione  0  e'  a
l'elemento nella posizione  1  e'  b
l'elemento nella posizione  2  e'  c
l'elemento nella posizione  3  e'  d

In [19]:
list(enumerate(l))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [20]:
lista1 = ['a','b','c']
lista2 = ['A','B','C']

for i in range(len(lista1)):
    v1 = lista1[i]
    v2 = lista2[i]
    print(v1, v2)

a A
b B
c C

In [21]:
lista_di_citta = ["Torino", "Vercelli", "Novara", "Alessandria"]
lista_di_sigle = ["TO", "VC", "NO", "AL"]

for i in range(len(lista_di_citta)):
    citta = lista_di_citta[i]
    sigla = lista_di_sigle[i]
    print("La citta'", citta, "ha sigla", sigla)

La citta' Torino ha sigla TO
La citta' Vercelli ha sigla VC
La citta' Novara ha sigla NO
La citta' Alessandria ha sigla AL

In [22]:
list(zip(lista_di_citta, lista_di_sigle))

[('Torino', 'TO'), ('Vercelli', 'VC'), ('Novara', 'NO'), ('Alessandria', 'AL')]

In [23]:
for citta, sigla in zip(lista_di_citta, lista_di_sigle):
    print("La citta'", citta, "ha sigla", sigla)

La citta' Torino ha sigla TO
La citta' Vercelli ha sigla VC
La citta' Novara ha sigla NO
La citta' Alessandria ha sigla AL

In [24]:
for pos, el in zip(range(len(l)), l):
    print(pos, el)

0 a
1 b
2 c
3 d

In [27]:
for a, b, c in zip(['a','b','c','d','e','f','g'], ['A','B','C'], [1,2]):
    print(a, b, c)

a A 1
b B 2

In [36]:
i = 0

while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    if i >= 9:
        break
    print(i)

1
3
5
7

In [42]:
i = 0

flag = True 
while flag == True:
    i += 1
    if i % 2 != 0:
        if i >= 9:
            flag = False
        else:
            print(i)

1
3
5
7

In [49]:

def sum_two_number(a, b):
    print(f"La somma dei numeri {a} e {b} e' {a+b}")
    
    

def sum_number_to_5(a):
    print(f"La somma dei numeri {a} e 5 e' {a+5}")

In [45]:
def exp(x):
    return 2 ** x

In [47]:
sum_two_number(2, 5)

La somma dei numeri 2 e 5 e' 7

In [48]:
sum_two_number(5, 8)

La somma dei numeri 5 e 8 e' 13

In [50]:
sum_number_to_5(17)

La somma dei numeri 17 e 5 e' 22

In [53]:
def distanza_euclidea(x, y):
    
    dist = 0 # implementazione
    
    for x_i, y_i in zip(x, y):
        dist += (x_i - y_i) ** 2
        
    
    return dist ** .5

In [54]:
distanza_euclidea([1,2,3], [0, 0, 0])

3.7416573867739413

In [56]:
distanza_euclidea([0,0], [1,1])

1.4142135623730951

In [57]:
def distanza_euclidea_2d(x, y):
    return ((x[0] - y[0]) ** 2 + (x[1] - y[1]) ** 2)**.5

In [60]:
def funzione_con_6_parametri(a, b=20, c=30, d=40, e=50, f=60):
    return a + b + c + d + e + f

In [63]:
funzione_con_6_parametri(1, e=3)

154

In [67]:
def concatena_stringhe(str1, str2):
    return str1 + " " + str2

In [68]:
concatena_stringhe("hello", "world")

'hello world'

In [69]:
concatena_stringhe(str2="hello", str1="world")

'world hello'

In [70]:
s = "hello world"

In [71]:
s.upper()

'HELLO WORLD'

In [72]:
l = [ 1, 2, 3 ]

In [73]:
len(l)

3

In [74]:
l.__len__()

3

In [75]:
def len(x):
    return x.__len__()

In [76]:
len([3,2,1])

3